$ cat .gitignore
/*

!/.gitignore
!/LICENSE
!/README.md
!/CHANGELOG

!/icon.png
!/config/
/config/tellme/*
!/resources/
!/scripts/
!/structures/
!/patchouli_books/
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/chiselsandbits_clipboard.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/InvTweaks.cfg
config/jei/worldSettings.cfg
config/InvTweaks.cfg
config/craftpresence.properties
config/topaddons.cfg
config/biomesoplenty/biomes/defaults/*
config/biomesoplenty/biomes/Put biome config files here
config/AppliedEnergistics2/VersionChecker.cfg
config/chiselsandbits_clipboard.cfg
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
