# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        热爆花不再接受 TNT 复制机产出的 TNT (假)
        在 ClientTweaks 配置中禁用自动爬梯!
        FindMe 模组可以帮你快速找到附近容器里的物品
        本整合包使用的高亮显示模组是 TheOneProbe
        Bats out tonight.
        XNet 是一个进阶传输模组,优化十分友好, 放了再多也不会比 EnderIO 更卡
        WayStones 模组提供便宜好用的传送功能
        匠魂工具, 越用越有
        有很多人觉得从某些角度上来说动力工具比匠魂工具更实用
        试试专家模式! /packmode expert (还没做)
        安装 DLC 拓展包获得更佳游戏体验! (还没发)
        PackagedExCrafting 模组提供方便好用的拓展合成AE自动化
        N E A T
        使用 LagGoggles 模组找出把你家卡成狗的罪魁祸首在哪里
        FluxNetWork 提供的无线传电系统比 RFTools 提供的要便宜得多
        使用 TorchMaster 的巨型火把和狂野灯笼阻止大范围刷怪及提供大范围照明!
        这条提示是个憨批, 什么内容都没有
        使用子沙加快你的甘蔗 / 仙人掌生长速度
        # 这条 Tips 被注释了, 你应该看不到它
        别到处乱挖, 找找矿脉的地表指示物
        本整合包没有禁用抽屉升级
        NuclearCraft:Overhauled 和他爹 NuclearCraft 区别很大, 查询外部资料时请注意
        妈耶
        GBL, yyds
        鲁邦, yyds
        友谊妈妈, yyds
        科星佬, yyds
        小哈罗, yyds
        无名人, yyds
        好, 芒持
        使用 FTBUtlities 模组提供的认领区块功能使你家免受苦力怕的重伤, 并提供强加载
        那个连锁挖矿模组不叫 VeinMiner , 也不叫 OreExcavation, 而是 FTBUltimine
        FlatColoredBlocks 模组提供各种光怪陆离的纯色装饰方块
        如果你使用 Discord, 本整合包提供 Discord 显示支持
        启动整合包的时候不用死盯着那个 Mojang 的 Logo, 去干点别的, 加载完成时你会听到 "叮" 一声
        铁砧转转转
        用 Chisel 模组好好装点一下自己家吧
        AkashicTome 模组提供了一本有四次元口袋的书
        AstralSorcery 模组提供的星能力便宜好用
        试试 OpenBlocksElevator 模组提供的电梯! 省去各种梯子和台阶
        Flopper 模组提供的流体漏斗可以搞出不需要泵的无限水, 就是可能有点慢
        CookingForBlockheads 模组的水槽不再提供无限水, 但牛奶罐的效率被提高了
        GlassAnimals, grandson 和 OliverTree 从某种意义上来说参与了本整合包的制作
        有 Bug 请到 GitHub 反馈!
        试试听着交响乐玩任何整合包, 特别是路德维希 · 凡 · 贝多芬的 《C小调第五交响曲》
        开发中一半时间是在摸鱼
        所有自定义星辉合成的星能要求和时间基本都差不多
        TheCazadorSniper [PO3作者] 并没有对本整合包提供技术支持
        特别感谢 friendlyhj [飞翔之路3作者] 对于本整合包的技术支持
        本整合包并不热衷于发掘精致的小众科技模组
        余烬炼金被扬了
        来试试异形工厂 (shapez.io)! 这是该整合包矿物处理的灵感来源
        火种科技? 崽种科技!
        磁场科技? 磁场磕碜!
        火种科技的所有砧均支持机械漏斗自动输入
        本整合包中最快的能量传输手段是使用管道传输装满创造通量单元的 ME 储存元件
        本整合包中最快的物流传输手段是使用管道传输装满装了创造存入升级的抽屉
        「鲁邦在吗? 能不能咕一下让我摸鱼」
        如果你看到这条提示, 说明这个整合包的设定也被鲁邦污染了
        本整合包理论上无法在72小时内速通
        不要太过分了, 1710人!
        禁止套娃, 你已经被警告过了
        删除 scripts 文件夹以获得最佳游戏体验
        过度诚实, 谦虚和高度责任感, 是我们这个创作者社区最大的优势
        本整合包的开发组成员超过 20 人
        ....  ..  --..--   ....  .  .-.  ---  -..  ---  -  ..-  ...  -.-.--
        HerodotusUtils 为本整合包添加了大量独家内容和对大量其他模组的自定义修改
        直到本 Tips 被写下, 包括魔改代码重构, 本整合包曾被重构过高达七次
        ♪♪♪♪♪♪♪♪♪
        「快速回复: 不会是真的吧」
        主菜单长相和游戏内容没有必然关系
        不要做整合包, 会变得不幸
        配合推荐歌单更佳: https://music.163.com/playlist?id=6920957270
        民以食为天
        那天, 我说, 德老师快想点骚话写进 Tips
        然后, 鲁老师回复我, 骚话是应激的, 不是创造的
        我说, 好吧, 就把你这句写进 Tips
        有一种整合包是关不住的, 因为它的每一个流程都闪烁着魔改的光辉----«德里奇的救赎»
        我能想到最浪漫的事, 就是和你一起在 hds 里砸青铜, 我负责摆 你负责敲
        VIRGINITY IS COOL, REMAIN PURE
        在? 你篝火上的肉糊了
        隔壁家的叔叔 2022 年还在做 hds, 你可千万不能变成他那样
        隔壁家的阿姨 2022 年还在玩 hds, 你可千万不能变成她那样
        他俩讨论的是 hds, 不含一点血肉的东西, 鬼魂般荒诞, 抽象的可怕
        鲁邦就是鲁邦, 鲁邦是人, 但鲁邦也不完全是人; 随你所处的情况将决定他的状态
        删掉, 删掉, 一定要删掉, 再不删掉那些魔改模组 玩家哪有美好的未来,  圈子哪有栋梁之才
        本整合包中没有任何一种寄生虫会说话, 你可以研究他们. 但是如果你发现寄生虫在尝试和你沟通, 记住, 寄生虫没有高等智能, 并让自己休息一会
        其实本整合包也有隐藏结局 (指加加速火把
        寄生虫再恐怖, 也没有把寄生虫放进去的鲁邦恐怖
        16. Minecraft 里没有芒果
        14. 不要注视槐木晾干架
        18. 不不要, 要要答应和鲁邦邦一起玩玩玩 hds
        I just wanna tell you how I'm feeling
        Gotta make you understand
        Never Gonna Give You Blocks
        You know the rules but I don't
        鲁邦具有鲁棒性 但是鲁棒性并不鲁邦
        21. 本整合包的设计都很合理, 就像你妈打你不讲道理
        22. 但妈永远不会打你, 假如被妈打了, 请确认是不是真的妈
        直到主线火种科技相关内容全部竣工后, 大家才发现谁也想不起来最开始是谁要加火种的
        王牌! 鲁邦在制作中亮出了小被
        游玩这个整合包后须进行理智检定
        那天晚上的指标是写出 30 条骚话 Tips, 而这是第 30 条, 大家都没骚话了
        真的吗, 我觉得你在骗我
        打开全屏地图, 寻找肉眼可见的红蓝黄色点即为指示物, 双击对应位置即可打坐标点轻松定位矿脉
        抵制不良游戏, 拒绝盗版游戏。 注意自我保护, 谨防受骗上当。 适度游戏益脑, 沉迷游戏伤身。 合理安排时间, 享受健康生活。
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


